@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@theme {
  --breakpoint-3xl: 120rem;

  --color-background: #121212;
  --color-background-secondary: #1e1e1e;

  --color-accent-red: #e63946;
  --color-accent-gold: #ffd166;
  --color-accent-green: #06d6a0;
  --color-accent-blue: #118ab2;

  --color-text-primary: #f5f5f5;
  --color-text-secondary: #b0b0b0;
  --color-text-disabled: #737373;

  --color-border: #2a2a2a;
  --color-shadow: rgba(0, 0, 0, 0.6);
}
@layer utilities {
    .scrollbar-hide-y::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide-y {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


html, body {
    overflow: hidden;
}
